.navigation-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background: #1c1c1c;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

.navigation-link:hover::after,
.navigation-link:focus:after {
  transform: scale(1);
}
